@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&family=Inconsolata:wght@200;300&display=swap');
:root{
    --primary: #CFDFDC;
    --complimentary: #FFF8F5;
    --black: #000000;
    --black75: #535353;
    --black50: #8C8C8C;
    --black25: #C6C6C6;
    --black10: #E8E7E7;
    --black5: #F3F2F3;
    --error: #F6DA8C;
  --h1: 119px;
  --h2: 84px;
  --h3: 60px;
  --h4: 42px;
  --h5: 30px;
  --h6: 21px;
  --h7: 14px;
  --serif-font: 'Brygada 1918';
  --mono-font: 'Inconsolata';
  font-family: 'Brygada 1918', serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
    height: 115px;
}
    .upper-header{
        display: flex;
    }
    .bottom-header{
        display: flex;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
    }
    .bottom-header > *{
        padding: 0px 5px;
    }
        .todo-text{
            line-height: 30px;
            height: 30px;
            background-color: var(--black);
            color: var(--complimentary);
        }
        .burger-button{
            cursor: pointer;
          }

/* main */
.main{
    flex-grow: 1;
}
/* footer */
.footer {
    height: 30px;
    font-weight: 700;
    border-top: 1px solid var(--black);
}
.header, .footer {
    font-family: var(--mono-font);
    font-size: var(--h6);
    text-align: center;
}